
<footer class="footer-distributed footer-container">
  <div class="footer-left">

    <h3><a href="#" class="linkDecoration"><h1 id="logo">Festa<a id="logoNet">Net</a></h1></a></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Eventos</a>
      ·
      <a href="#">Preços</a>
      ·
      <a href="#">Sobre</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contato</a>
    </p>

    <p class="footer-company-name">FestaNet © 2022</p>

    <div class="footer-icons">

      <button pButton  pRipple  type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text cursor-pointer" onclick="location.href='#';"></button>
      <button pButton pRipple class="p-button-rounded p-button-text cursor-pointer" icon="pi pi-twitter" onclick="location.href='#'"></button>
      <button pButton  pRipple class="p-button-rounded p-button-text cursor-pointer" icon="pi pi-linkedin" onclick="location.href='#';"></button>
     <button pButton pRipple class="p-button-rounded p-button-text cursor-pointer" icon="pi pi-github" onclick="location.href='#';"></button>
    </div>

  </div>

  <div class="footer-right">
    <p-card>

    <form action="#" method="post">
      <p>Entre em contato</p>
      <input pInputText  type="text" name="email" placeholder="Email">
      <textarea pInputTextarea name="message" placeholder="Message"></textarea>
      <button pButton>Enviar</button>
    </form>
  </p-card>

  </div>
</footer>