.container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    color: white;
  }

  .espacamentoInputs{
    padding-top: 2rem;
  }
  
  .espacamentoTitle{
    padding-bottom: 1rem;
  }

  .buttons-row{
    display: flex;
    
  }

  .p-button.p-button-sm {
    padding: 0.1rem 0.2rem;
  }