<div class="container">
    <div class="flexbox" *ngFor="let festa of festas">
        <p-card class="card" subheader="{{festa.data_festa | date : 'dd/MM/yyyy'}}" [style]="{width: '360px'}"
            styleClass="p-card-shadow">
            <ng-template pTemplate="title" class="link">
                <a (click)="handleReadMore(festa.id)" class="link">{{festa.description}}</a> 
            </ng-template>
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/la_rosalia.png">
            </ng-template>
            <p>{{festa.description}}</p>
            <ng-template pTemplate="footer">
                <div class="footer">
                    <img src="../../assets/foto_do_cara.png" alt="user__image" class="user__image">
                    <div class="user__info">
                        <h5>André Parada</h5>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>
